.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  max-width: 100%;
}

/* Common Classes  */

.width-class {
  max-width: 75rem;
}

.btn {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  transition: background 4s; /* animation added  */
}

.btn:hover {
  background: linear-gradient(
    to right,
    #fb09b4,
    #f7e93f,
    #9100f8
  ); /* animation added  */
}

.btn2 {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.btn3 {
  background-color: #00ff88;
  border-radius: 100px;
  padding: 8px 16px;
  color: #1a0b2e;
  position: absolute;
  top: 10px;
  right: 9.375rem;
  border: none;
  transition: transform 1s; /* animation added  */
}

.btn4 {
  background: transparent;
  border: 2px solid #00ff88;

  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  transition: background-color 1s; /* animation added  */
}

.btn4:hover {
  background-color: #00ff88; /* animation added  */
}

.btn3:hover {
  transform: scale(2); /* animation added  */
}

/* Heading started here  */

/* Navigation starts here  */

header {
  max-width: 100%;
  background-color: #1a0b2e;

  border-bottom: 1px solid grey;
}

.parent-nav {
  display: flex;

  height: 6rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.subs-button-parent {
  display: flex;
  align-items: center;
}

.nav-menu p {
  font-size: 1rem;
  font-weight: 500;
}

.nav-logo > p {
  font-size: 2rem;
  font-weight: 800;
}

.nav-logo span {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.ham-menu {
  display: none;
}

/* Hero Content  */

.Hero-content-parent {
  background-image: url(../assets/hero-bg.png);

  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */

  height: 760px;
}

.hero-content {
  margin: 0 auto;
  max-width: 550px;
  height: 558px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 90px;
  left: 7px;
}

.circle {
  display: flex;
  justify-content: center;
  position: relative;
}

#mic {
  position: absolute;
  top: 80px;
}

.text-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.just-text h2 {
  font-size: 3.75rem;
  font-weight: 800;
  text-align: center;
}
.just-text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
}

.hero-btns {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* Rating section */

.rating-section {
  max-width: 100%;
  height: 500px;
  background-color: #1a0b2e;
  /* display: flex;
  flex-direction: column; */
}

.the-line {
  height: 0;
  border: 0.2px solid white;
  margin: 0 auto;
  opacity: 30%;
  position: relative;
  top: 100px;
}

.writing-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 16px;
  line-height: 1.5;
  position: relative;
  top: 50px;
  /* border: 4px solid wheat; */
}

.writing-part h2 {
  font-size: 3rem;
  font-weight: 700;
}
.writing-part p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
}

.rating-part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
  vertical-align: middle;
  position: relative;
  top: 160px;
  /* border: 4px solid wheat; */
}

.ratings h2 {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(0, 255, 136, 1);
}
.ratings p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  text-align: center;
}

/* Why us section  */

.why-us-parent {
  max-width: 100%;
  background: rgba(35, 14, 61, 1);
  height: 1122px;
}

#h-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 80px;
}

.why-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  vertical-align: middle;
  gap: 30px;
  margin: 0 auto;
  /* padding: 120px 200px; */
  grid-template-areas:
    "f1 f2 f2"
    "f1 f3 f3"
    "f4 f4 f5";
}

.why-grid-container img {
  width: 50px;
  height: 50px;
}

.f1 {
  grid-area: f1;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
}
.f2 {
  grid-area: f2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
}
.f3 {
  grid-area: f3;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
}
.f4 {
  grid-area: f4;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
}
.f5 {
  grid-area: f5;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
}

.why-grid-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
}
.why-grid-container h2 {
  font-size: 1.375rem;
}

/* Feature part  */

.feature-part-parent {
  max-width: 100%;
  height: 850px;
  background-color: #1a0b2e;
}

.card-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 auto;
  gap: 40px;
  position: relative;
  top: 120px;
  /* border: 2px solid #f7e93f; */
}

.card {
  position: relative;
  background-color: rgba(37, 13, 68, 1);
  border-radius: 24px;
  position: relative;
  top: 40px;
  transition: background-color 1s; /* animation added  */
}

.card:hover {
  background-color: rgb(88, 50, 137); /* animation added  */
}

.text-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
  /* border: 2px solid #f7e93f; */
}

.card-text {
  border-radius: 24px;
  padding: 20px;
}

.video {
  /* border-radius: 24px; */
  overflow: hidden;
}

.card-text h2 {
  font-size: 1.5rem;
  font-size: 700;
  line-height: 1.8125rem;
}
.card-text p {
  margin-top: 10px;
  font-size: 1rem;
  font-size: 400;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}

.timer > p {
  color: #00ff88;
  opacity: 1;
}

/* Host section started here  */

.Host-parent {
  max-width: 100%;
  height: 21.875rem;
  background-color: #1a0b2e;
}

.host-card {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.875rem;
  position: relative;
  top: 40px;
  border-radius: 40px;
  background-color: rgba(37, 13, 68, 1);
}

.host-social {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.host-social div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #533c72;
}

.host-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 16px;
}

/* .host-image {
} */

.host-social img {
  height: 13px;
  width: 13px;
  position: relative;
  left: 7.5px;
  top: 6px;
}

.Host-parent > h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin: 0 auto;
  text-align: center;
}

.host-info h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.43rem;
}
.host-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}

/* *******Footer section************** */

footer {
  background-image: url(../assets/footer-bg.png);
  max-width: 100%;
  height: 412px;
  background-size: cover;
  background-position: center;
}
.content-parent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 35%;
}

.footer-social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

/* Small Device Responsive  */

@media screen and (max-width: 576px) {
  .width-class {
    max-width: 25rem;
  }
  .nav-logo > p {
    font-size: 1.625rem;
    font-weight: 800;
    margin-left: 1.25rem;
  }

  .nav-menu,
  .btn {
    display: none;
  }

  .ham-menu {
    display: inline;
    position: relative;
    right: 20px;
  }

  .Hero-content-parent {
    height: 600px;
  }

  .hero-content {
    width: 80%;
    position: relative;
    top: 100px;

    right: 20px;
  }

  .btn3 {
    /* position: absolute;
    top: 10px; */
    right: 3rem;
  }

  .mic-icons {
    position: relative;
    right: 0.8rem;
    bottom: 3rem;
    /* height: 300px; */
  }

  .text-part {
    position: relative;
    right: 10px;
    bottom: 5rem;
  }

  .just-text h2 {
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
  }
  .just-text p {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
  }

  /* Ratinge section  */

  .rating-section {
    height: 670px;
  }

  .rating-part {
    grid-template-columns: repeat(2, 1fr);

    position: relative;
    top: 160px;
    gap: 40px;
  }

  .writing-part h2 {
    font-size: 2rem;
  }
  .writing-part p {
    padding: 0 10px;
    opacity: 0.8;
  }

  /* Why us section  */

  .why-us-parent {
    height: 1500px;
  }

  #h-text {
    font-size: 2rem;
    padding: 40px 0 40px 0;
  }
  .why-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* padding: 20px; */
    gap: 16px;
    grid-template-areas:
      "f1"
      "f2"
      "f3"
      "f4"
      "f5";
  }

  .feature-part-parent {
    height: 1800px;
  }

  .text-heading {
    font-size: 2rem;
    font-weight: 700;

    top: 40px;
    /* border: 2px solid #f7e93f; */
  }

  .card-head {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* padding: 20px; */
    gap: 24px;

    top: 10px;
    /* border: 2px solid #f7e93f; */
  }

  .card-text h2 {
    font-size: 1.25rem;
  }

  /* Host part  */

  .Host-parent {
    height: 750px;
  }

  .host-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.5rem;
    /* padding: 30px; */
    position: relative;
    top: 40px;
  }

  .host-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    gap: 16px;
  }

  .host-social {
    justify-content: center;
    align-items: center;
  }

  .host-social img {
    position: relative;
    left: 1px;
    top: 6px;
  }

  /* Footer part  */

  footer {
    height: 248px;
    background-size: cover;
    background-position: center;
  }

  .content-parent {
    top: 10%;
    left: 1.5%;
  }

  .footer-social {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    text-align: center;
    gap: 16px;
  }
}
