.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  max-width: 100%;
}

/* Common Classes  */

.width-class {
  max-width: 75rem;
}

.btn {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.btn2 {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

/* Heading started here  */

/* Navigation starts here  */

header {
  max-width: 100%;
  background-color: #1a0b2e;

  border-bottom: 1px solid grey;
}

.parent-nav {
  display: flex;

  height: 6rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.subs-button-parent {
  display: flex;
  align-items: center;
}

.nav-menu p {
  font-size: 1rem;
  font-weight: 500;
}

.nav-logo > p {
  font-size: 2.625rem;
  font-weight: 800;
}

.nav-logo span {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.ham-menu {
  display: none;
}

/* Hero Content  */
/* 
.Hero-content-parent {
  background-image: url(../assets/hero-bg.png);
  max-width: 100%;

  
  height: 760px;
}

.hero-content {
  margin: 0 auto;
  max-width: 550px;
  height: 558px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 80px;
  left: 35px;
}

.circle {
  position: relative;
  left: 3.9rem;
}

#mic {
  position: relative;
  bottom: 5.3rem;
  right: 14.5rem;
}

.text-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.just-text h2 {
  font-size: 3.75rem;
  font-weight: 800;
  text-align: center;
}
.just-text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
}

.hero-btns {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8px;
} */

/* Rating section */

.rating-section {
  max-width: 100%;
  height: 647px;
  background-color: #1a0b2e;
  /* display: flex;
  flex-direction: column; */
}

.the-line {
  height: 0;
  border: 0.2px solid white;
  margin: 0 auto;
  opacity: 30%;
  position: relative;
  top: 100px;
}

.writing-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 16px;
  line-height: 1.5;
  position: relative;
  top: 50px;
  /* border: 4px solid wheat; */
}

.writing-part h2 {
  font-size: 3rem;
  font-weight: 700;
}
.writing-part p {
  font-size: 1rem;
  font-weight: 400;
}

.rating-section {
  /* border: 4px solid wheat; */
}

.rating-part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
  vertical-align: middle;
  position: relative;
  top: 160px;
  /* border: 4px solid wheat; */
}

.ratings h2 {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(0, 255, 136, 1);
}
.ratings p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  text-align: center;
}

/* Why us section  */

.why-us-parent {
  max-width: 100%;
  background: rgba(35, 14, 61, 1);
  height: 1122px;
}

#h-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 80px 0 0;
}

.why-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  vertical-align: middle;
  gap: 30px;
  margin: 0 auto;
  padding: 120px 200px;
  grid-template-areas:
    "f1 f2 f2"
    "f1 f3 f3"
    "f4 f4 f5";
}

.f1 {
  grid-area: f1;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
}
.f2 {
  grid-area: f2;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
}
.f3 {
  grid-area: f3;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
}
.f4 {
  grid-area: f4;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
}
.f5 {
  grid-area: f5;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px 20px;
}

.why-grid-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.why-grid-container h2 {
  font-size: 1.375rem;
}

/* Feature part  */

.feature-part-parent {
  max-width: 100%;
  height: 850px;
  background-color: #1a0b2e;
}

.card-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 auto;
  gap: 40px;
  position: relative;
  top: 120px;
  /* border: 2px solid #f7e93f; */
}

.card {
  position: relative;
  background-color: rgba(37, 13, 68, 1);
  border-radius: 24px;
  position: relative;
  top: 40px;
}

.text-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
  /* border: 2px solid #f7e93f; */
}

.card-text {
  border-radius: 24px;
  padding: 20px;
}

.video {
  /* border-radius: 24px; */
  overflow: hidden;
}

.card-text h2 {
  font-size: 1.5rem;
  font-size: 700;
  line-height: 1.8125rem;
}
.card-text p {
  margin-top: 10px;
  font-size: 1rem;
  font-size: 400;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}

.timer > p {
  color: #00ff88;
  opacity: 1;
}

/* Host section started here  */

.Host-parent {
  max-width: 100%;
  height: 300px;
  background-color: #1a0b2e;
}

/* Small Device Responsive  */

@media screen and (max-width: 576px) {
  .nav-logo > p {
    font-size: 1.625rem;
    font-weight: 800;
    margin-left: 1.25rem;
  }

  .nav-menu,
  .btn {
    display: none;
  }

  .ham-menu {
    display: inline;
    position: relative;
    right: 20px;
  }

  .hero-content {
    position: relative;
    top: 100px;
    left: 12px;
    right: 20px;
  }

  .mic-icons {
    position: relative;
    right: 2.5rem;
    top: 5rem;
  }

  .text-part {
    position: relative;
    right: 10px;
    bottom: 5rem;
  }

  .just-text h2 {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
  }
  .just-text p {
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
  }

  .rating-part {
    grid-template-columns: repeat(2, 1fr);

    position: relative;
    top: 160px;
    gap: 40px;
  }

  .writing-part h2 {
    font-size: 2rem;
  }
  .writing-part p {
    padding: 0 10px;
    opacity: 0.8;
  }

  .why-us-parent {
    height: 1440px;
  }

  #h-text {
    font-size: 2rem;
    padding: 40px 0 10px 0;
  }
  .why-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px;
    gap: 16px;
    grid-template-areas:
      "f1"
      "f2"
      "f3"
      "f4"
      "f5";
  }

  .feature-part-parent {
    height: 1800px;
  }

  .text-heading {
    font-size: 2rem;
    font-weight: 700;

    top: 40px;
    /* border: 2px solid #f7e93f; */
  }

  .card-head {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px;
    gap: 24px;

    top: 10px;
    /* border: 2px solid #f7e93f; */
  }

  .card-text h2 {
    font-size: 1.25rem;
  }
}
